<% include partials/header %>

<div class="page-header text-center">
    <h1> Index Exchange</h1>
</div>
<div class="container">
    <div class="jumbotron text-center">
        <div class="container">
            <div class "row">
                <div class="col-md-12">
                    <div class="text-center">
                        <h1>Who Knows What?</h1>
                        <div class="container">
                            <img src="/who_knows_what/views/logo.jpg" class="img-thumbnail" alt="logo" width="304" height="236">
                            <img alt="" src="@Url.Content("~/who_knows_what/views/logo.jpg")" />
                            
                        </div>
                        <button type="Login" class="btn btn-lg btn-success" role="button"> Login</button>
                        <button type="Search" class="btn btn-lg btn-success" role="button"> Search</button>
                        <button type="Profile" class="btn btn-lg btn-success" role="button"> Profile</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>


<% include partials/footer %>