<% include partials/header %>

<div class="page-header text-center">
    <h1> Index Exchange</h1>
</div>
<div class="container">
    <div class="jumbotron text-center">
        <div class="text-center">
            <h1>Who Knows What?</h1>
            <img src="images/thumbnail.jpg" class="img-responsive" alt="logo" width="304" height="236"> 
            <button type="Login" class="btn btn-lg btn-success" href="https://who-knows-what-wardmin.c9users.io/login" role="button"> Login</button>
            <button type="Search" class="btn btn-lg btn-success" role="button"> Search</button>
            <button type="Profile" class="btn btn-lg btn-success" role="button"> Profile</button>
         </div>

    </div>

</div>


<% include partials/footer %>