<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Who Knows What?</h1>
        <p>
            Index Exchange
        </p>
    </div>




<% include partials/footer %>