<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class= "page-header">
        <h1>This is the home page</h1>
    </div>




<% include partials/footer %>