<% include partials/header %>

<style type="text/css">


</style>

<div class="page-header text-center text-info">
    <h1> Who Knows What?</h1>
</div>

<p class="text-info">
            <form class="navbar-form navbar-center" role="username"  action="/api/login" method="POST">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"> LOG IN</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="http://publicretirementjournal.org/wp-content/uploads/2014/04/pers-pac-member-login-icon-2x.png" class="img-circle img-responsive"> </div>
		<div class="container">
			<div class=" col-md-6 col-lg-6 "> 
            <p>
            <label class= "control-label col-sm-2 text-left text-info" for="email">Email:</label>
            <input id="em" class="form-control" name="email" type="text">
            </p>
            <p>
            <label class= "control-label col-sm-2 text-left text-info" for="pwd">Password:</label>
            <input id="pwd" class="form-control" name="password" type="password">
            </p>
            <button button-type="Search" class="btn btn-primary" role="button">Login</button>
            <!--<a href="/register" button type="Search" class="btn btn-primary" role="button">Register</a> -->
		</form>
		</dev>
		 </div>
		 </div>
      </div>
    </div>
    </div>
    </div>
    

</div> 
</div>


<!--<div class="container">
    <div style="background:transparent !important" class="jumbotron text-center">
        <div class="text-center">
            <img src="images/login.jpg" class="center-block img-responsive" alt="logo" width="304" height="236"> 
            <p id="error"></p>
            
            <form class="navbar-form navbar-center" role="username"  action="/api/login" method="POST">
            <p>
            <label for="pwd">email:  </label>
            <input id="em" name="email" type="text">
            </p>
            <p>
            <label for="pwd">password:</label>
            <input id="pwd" name="password" type="password">
            </p>
            <button button-type="Search" class="btn btn-lg btn-success" role="button">Login</button>
            <a href="https://who-knows-what-wardmin.c9users.io/register" button type="Search" class="btn btn-lg btn-success" role="button">Register</a>
            </form>
                
                
                <!--<a href="https://who-knows-what-wardmin.c9users.io/users" button type="Search" class="btn btn-lg btn-success" role="button">Login</button></a>
                
            
         </div>
    </div>
</div> -->

<script type="text/javascript">

function checkDB() {
    
    var emailAddress = document.getElementById("em").value;
    var pwd = document.getElementById("pwd").value;
    var result  = "https://who-knows-what-wardmin.c9users.io/api/" + emailAddress;
    
    if (result.password == pwd) {
                window.location.href = "https://who-knows-what-wardmin.c9users.io/users";
            } else{
                document.getElementById("error").value = "Wrong password or address. Try again!"
            }
    
}
</script>

<% include partials/footer %>