<% include partials/header %>

<div class="page-header text-center text-info">
    <h1> Who Knows What?</h1>
</div>

<p class="text-info">
      <form class="navbar-form navbar-center" role="username"  action="/api/register" method="POST">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://0.s3.envato.com/files/166459326/register-login-add-on.png" class="img-circle img-responsive"> </div>
		<div class="container">
			<div class=" col-md-2 col-lg-2 "> 
			  <p>
            <label class= "control-label col-sm-2 text-left text-info" for="email">Email:</label>
            <input id="em" class="form-control" name="email" type="text">
            </p>
            
            <p>
            <label class= "control-label col-sm-2 text-left text-info" for="name">Name:</label>
            <input id="em" class="form-control" name="name" type="text">
            </p>
            
            <p>
            <label class= "control-label col-sm-2 text-left text-info" for="department">Department:</label>
            <input id="em" class="form-control" name="department" type="text">
            </p>
            
            <p>
            <label class= "control-label col-sm-2 text-left text-info" for="pwd">Password:</label>
            <input id="pwd" class="form-control" name="password" type="password">
            </p>
            
             <p>
            <label class= "control-label col-sm-2 text-left text-info" for="pwd">Confirm Password:</label>
            <input id="pwd" class="form-control" name="confirmpassword" type="password">
            </p>
            
            <button class="btn btn-primary">Register</button>
            <a href="/login" button type="Search" class="btn btn-primary" role="button">Login</a>
		</form>
		   
		</dev>
		 </div>
		 </div>
      </div>
    </div>
    </div>
    </div>
    </div> 
    

           

</div>

<script type="text/javascript">

function checkDB() {
    
    var emailAddress = document.getElementById("em").value;
    var pwd = document.getElementById("pwd").value;
    var result  = "https://who-knows-what-wardmin.c9users.io/api/" + emailAddress;
    
    if (result.password == pwd) {
                window.location.href = "https://who-knows-what-wardmin.c9users.io/users";
            } else{
                document.getElementById("error").value = "Wrong password or address. Try again!"
            }
    
}
</script>

<% include partials/footer %>