<% include partials/header %>

<div class="page-header text-center">
    <h1> Who Knows What?</h1>
</div>

<p class="text-info">
      <form action="/users/add"> 
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Register</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="https://0.s3.envato.com/files/166459326/register-login-add-on.png" class="img-circle img-responsive"> </div>
		<div class="container">
			<div class=" col-md-4 col-lg-4 "> 
			  <table class="table table-user-information">
			    <tbody>
			    <tr>
				<td>Email Address:</td>
				<td><input type="text" name="user[email]" value=""><br /></td>
			      </tr>
			      <tr>
			    <td>Name:</td>
				<td><input type="text" name="user[name]" value=""><br /></td>
			      </tr>
			      <tr>
			    <td>Department:</td>
				<td><input type="text" name="user[password]" value=""><br /></td>
			      </tr>
			      <tr>
				<td>Password:</td>
				<td><input type="password" name="user[password]" value=""><br /></td>
			      </tr>
			    <tr>
			    <td>Confirm Password:</td>
				<td><input type="password" name="user[password]" value=""><br /></td>
			      </tr>
			    </tbody>
			  </table>
		<button class="btn btn-primary">Register</button>
		<!--<a href="https://who-knows-what-wardmin.c9users.io/login" button class="btn btn-primary">Sign In</button>-->
		</dev>
          </div>
        </div>
      </div>
    </div>
    </form>

</div>

<script type="text/javascript">

function checkDB() {
    
    var emailAddress = document.getElementById("em").value;
    var pwd = document.getElementById("pwd").value;
    var result  = "https://who-knows-what-wardmin.c9users.io/api/" + emailAddress;
    
    if (result.password == pwd) {
                window.location.href = "https://who-knows-what-wardmin.c9users.io/users";
            } else{
                document.getElementById("error").value = "Wrong password or address. Try again!"
            }
    
}
</script>

<% include partials/footer %>