<% include partials/header %>

<div class="page-header text-center">
    <h1> Who Knows What?</h1>
</div>
<div class="container">
    <div style="background:transparent !important" class="jumbotron text-center">
        <div class="text-center">
            <img src="images/search.png" class="center-block img-responsive" alt="logo" width="304" height="236"> 
            
            <form class="navbar-form navbar-center" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="search">
                    
                </div>
                <a href="https://who-knows-what-wardmin.c9users.io/users" button type="Search" class="btn btn-lg btn-success" role="button"> Search</button></a>
            </form>
         </div>
    </div>
</div>


<% include partials/footer %>